@charset "UTF-8";
/* A Modern CSS Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
blockquote,
ul,
li,
dl,
dd {
  margin: 0;
  padding: 0;
}

ul[role=list],
ol[role=list] {
  list-style: none;
}

li {
  list-style-type: none;
}

body {
  min-height: 100vh;
  line-height: 1.1;
}

a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
body {
  background-color: #F6F7F8;
  font-family: "Montserrat", sans-serif;
  line-height: 1;
  color: #343B4C;
}

.wrapper {
  overflow-x: hidden;
}

.totop__link {
  width: 64px;
  height: 64px;
  display: block;
  position: fixed;
  bottom: 14px;
  right: 20px;
  z-index: 3;
  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.35);
  border-radius: 100%;
}
.totop__link svg {
  width: 100%;
  height: 100%;
  border-radius: 100%;
}

.contact {
  padding: 39px 36px;
  background: linear-gradient(to right, #10EBB4, #17E6D3);
}
.contact__txt {
  margin-bottom: 23px;
  font-family: "Climate Crisis", sans-serif;
  font-size: 30px;
  text-align: center;
}
.contact__btn {
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  border: 3px solid #343B4C;
}
.contact__link {
  display: block;
  padding: 17px 51px;
  font-weight: 700;
  font-size: 24px;
  color: #343B4C;
  text-decoration: none;
}

.header {
  padding: 15px 27px 15px 20px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 3;
}
.header__logo {
  width: 42px;
  height: 40px;
}
.header__logo svg {
  width: 100%;
  height: 100%;
}

.btn {
  height: 20px;
  display: flex;
  align-items: center;
  gap: 21px;
}
.btn__burger {
  height: 100%;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 25px;
  cursor: pointer;
  z-index: 1;
}
.btn__top, .btn__middle, .btn__bottom {
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
}
.btn__top {
  transform: translateY(-8px);
  background: #343B4C;
}
.btn__middle {
  background: #343B4C;
}
.btn__bottom {
  transform: translateY(8px);
  background: #343B4C;
}

.cart {
  width: 21px;
  height: 21px;
}
.cart__link {
  display: block;
  width: 100%;
  height: 100%;
}
.cart__link svg {
  display: block;
  width: 100%;
  height: 100%;
}

.gnav {
  width: 100%;
  height: 100dvh;
  padding-top: 105px;
  padding-left: 66px;
  display: flex;
  flex-direction: column;
  gap: 146px;
  position: absolute;
  background: linear-gradient(to right, #F36655, #E74C69);
  top: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;
}
.gnav__list {
  width: -moz-fit-content;
  width: fit-content;
}
.gnav__link {
  display: block;
  color: #343B4C;
  text-decoration: none;
}
.gnav__insta {
  width: 24px;
  height: 24px;
}
.gnav__x {
  width: 24px;
  height: 24px;
}

.box__text {
  display: flex;
  flex-direction: column;
  gap: 69px;
}

.box__weight {
  font-weight: 700;
  font-size: 30px;
  color: #343B4C;
  text-decoration: none;
}
.box__weight .gnav__nav {
  display: flex;
  flex-direction: column;
  gap: 34px;
}

.box__thin {
  font-weight: 400;
  font-size: 20px;
  color: #343B4C;
  text-decoration: none;
}
.box__thin .gnav__nav {
  display: flex;
  flex-direction: column;
  gap: 27px;
}

.box__sns {
  display: flex;
  align-items: center;
  gap: 17px;
}

.footer {
  padding: 46px 46px 24px 20px;
  background: #EDEEF0;
}
.footer__wrapper {
  margin-bottom: 83px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}
.footer__logo {
  width: 109px;
  height: 106px;
}
.footer__logo svg {
  width: 100%;
  height: 100%;
}
.footer__container {
  display: flex;
  flex-direction: column;
  gap: 48px;
  font-size: 14px;
}
.footer__sns {
  display: flex;
  align-items: center;
  gap: 17px;
}
.footer__insta {
  width: 24px;
  height: 24px;
  display: block;
}
.footer__insta svg {
  width: 100%;
  height: 100%;
}
.footer__x {
  width: 24px;
  height: 22px;
  display: block;
}
.footer__x svg {
  width: 100%;
  height: 100%;
}
.footer__address {
  margin-bottom: 36px;
  font-size: 14px;
  line-height: 1.5;
}
.footer__copy {
  width: -moz-fit-content;
  width: fit-content;
  font-size: 10px;
}

.fnav {
  display: flex;
  flex-direction: column;
  gap: 17px;
}
.fnav__nav-main {
  display: flex;
  flex-direction: column;
  gap: 17px;
}
.fnav__nav-sub {
  display: flex;
  flex-direction: column;
  gap: 17px;
}
.fnav__link {
  text-decoration: none;
  color: #343B4C;
}

#top .mv {
  height: 100dvh;
  position: relative;
}
#top .mv svg {
  width: 303px;
  height: 295px;
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translateX(-50%);
}
#top .latest {
  position: relative;
}
#top .latest__ttl, #top .latest__items, #top .latest__all {
  padding-left: 5%;
  padding-right: 5%;
  position: relative;
  z-index: 2;
}
#top .latest__bg {
  width: 100%;
  position: absolute;
  top: -27px;
}
#top .latest__bg svg {
  width: 100%;
  height: 680px;
}
#top .latest__ttl {
  margin-bottom: 50px;
  padding-top: 32px;
  font-family: "Climate Crisis", sans-serif;
  font-weight: 400;
  font-size: 40px;
  color: #F6F7F8;
}
#top .latest__items {
  margin-bottom: 60px;
  display: flex;
  flex-wrap: wrap;
  row-gap: 84px;
  justify-content: space-between;
}
#top .latest__box {
  width: 46%;
  color: #343B4C;
  text-decoration: none;
}
#top .latest__image {
  margin-bottom: 10px;
}
#top .latest__title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 15px;
}
#top .latest__year {
  font-weight: 600;
  font-size: 10px;
  letter-spacing: 0.3em;
}
#top .latest__all {
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
}
#top .latest__link {
  width: -moz-fit-content;
  width: fit-content;
  font-size: 15px;
  display: flex;
  align-items: center;
  gap: 7px;
  color: #343B4C;
  text-decoration: none;
}
#top .latest__link svg {
  width: 6px;
  height: 10px;
}
#top .flyers {
  margin-top: 90px;
  position: relative;
}
#top .flyers__bg {
  width: 100%;
  position: absolute;
  top: -19px;
}
#top .flyers__bg svg {
  width: 100%;
  height: 1205px;
}
#top .flyers__wrapper {
  padding-left: 5%;
  padding-right: 5%;
  position: relative;
  z-index: 2;
}
#top .flyers__video {
  width: 100%;
  height: 100%;
  margin-bottom: 84px;
  position: relative;
}
#top .flyers__video video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  filter: brightness(60%);
}
#top .flyers__ttl {
  font-family: "Climate Crisis", sans-serif;
  font-weight: 400;
  font-size: 24px;
  color: #F6F7F8;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  -webkit-text-stroke: 2px #343B4C;
  paint-order: stroke;
  white-space: nowrap;
}
#top .flyers__items {
  margin-bottom: 60px;
  display: flex;
  flex-wrap: wrap;
  row-gap: 84px;
  justify-content: space-between;
}
#top .flyers__box {
  width: 46%;
  color: #343B4C;
  text-decoration: none;
}
#top .flyers__image {
  margin-bottom: 10px;
}
#top .flyers__title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 15px;
}
#top .flyers__year {
  font-weight: 600;
  font-size: 10px;
  letter-spacing: 0.3em;
}
#top .flyers__all {
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
}
#top .flyers__link {
  width: -moz-fit-content;
  width: fit-content;
  font-size: 15px;
  display: flex;
  align-items: center;
  gap: 7px;
  color: #343B4C;
  text-decoration: none;
}
#top .flyers__link svg {
  width: 6px;
  height: 10px;
}
#top .tickets {
  margin-top: 90px;
  position: relative;
}
#top .tickets__bg {
  width: 100%;
  position: absolute;
  top: 474px;
}
#top .tickets__bg svg {
  width: 100%;
  height: 1240px;
}
#top .tickets__wrapper {
  padding-left: 5%;
  padding-right: 5%;
  position: relative;
  z-index: 2;
}
#top .tickets__video {
  width: 100%;
  height: 100%;
  margin-bottom: 84px;
  position: relative;
}
#top .tickets__video video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  filter: brightness(60%);
}
#top .tickets__ttl {
  font-family: "Climate Crisis", sans-serif;
  font-weight: 400;
  font-size: 24px;
  color: #F6F7F8;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  -webkit-text-stroke: 2px #343B4C;
  paint-order: stroke;
  white-space: nowrap;
}
#top .tickets__items {
  margin-bottom: 60px;
  display: flex;
  flex-wrap: wrap;
  row-gap: 84px;
  justify-content: space-between;
}
#top .tickets__box {
  width: 46%;
  color: #343B4C;
  text-decoration: none;
}
#top .tickets__image {
  margin-bottom: 10px;
}
#top .tickets__title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 15px;
}
#top .tickets__year {
  font-weight: 600;
  font-size: 10px;
  letter-spacing: 0.3em;
}
#top .tickets__all {
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
}
#top .tickets__link {
  width: -moz-fit-content;
  width: fit-content;
  font-size: 15px;
  display: flex;
  align-items: center;
  gap: 7px;
  color: #343B4C;
  text-decoration: none;
}
#top .tickets__link svg {
  width: 6px;
  height: 10px;
}
#top .streetware {
  margin-top: 90px;
  margin-bottom: 90px;
}
#top .streetware__wrapper {
  padding-left: 5%;
  padding-right: 5%;
  position: relative;
  z-index: 2;
}
#top .streetware__video {
  width: 100%;
  height: 100%;
  margin-bottom: 84px;
  position: relative;
}
#top .streetware__video video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  filter: brightness(60%);
}
#top .streetware__ttl {
  font-family: "Climate Crisis", sans-serif;
  font-weight: 400;
  font-size: 24px;
  color: #F6F7F8;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  -webkit-text-stroke: 2px #343B4C;
  paint-order: stroke;
  white-space: nowrap;
}
#top .streetware__items {
  margin-bottom: 60px;
  display: flex;
  flex-wrap: wrap;
  row-gap: 84px;
  justify-content: space-between;
}
#top .streetware__box {
  width: 46%;
  color: #343B4C;
  text-decoration: none;
}
#top .streetware__image {
  margin-bottom: 10px;
}
#top .streetware__title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 15px;
}
#top .streetware__year {
  font-weight: 600;
  font-size: 10px;
  letter-spacing: 0.3em;
}
#top .streetware__all {
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
}
#top .streetware__link {
  width: -moz-fit-content;
  width: fit-content;
  font-size: 15px;
  display: flex;
  align-items: center;
  gap: 7px;
  color: #343B4C;
  text-decoration: none;
}
#top .streetware__link svg {
  width: 6px;
  height: 10px;
}

#items .main {
  padding-top: 100px;
}
#items .items__ttl,
#items .filters__btn,
#items .items {
  padding-left: 5%;
  padding-right: 5%;
}
#items .items__ttl {
  margin-bottom: 20px;
  font-family: "Climate Crisis", sans-serif;
  font-weight: 400;
  font-size: 40px;
}
#items .filters__txt {
  font-weight: 700;
  font-size: 13px;
}
#items .filters__btn {
  margin-bottom: 84px;
  margin-left: 5%;
  width: -moz-fit-content;
  width: fit-content;
  padding: 9px 13px;
  display: flex;
  align-items: center;
  gap: 3px;
  background: linear-gradient(270deg, #CED1E0 0%, #CFC9E0 100%);
  border: 2px solid #343B4C;
}
#items .filters__btn svg {
  width: 13px;
  height: 14px;
  display: block;
}
#items .filters {
  padding-top: 31px;
  padding-left: 36px;
  width: 100%;
  height: 100dvh;
  position: fixed;
  background: linear-gradient(270deg, #CED1E0 0%, #CFC9E0 100%);
  top: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;
  z-index: 3;
  /* ここに「.translateNav」がついた時のスタイルを【入れ子】で書く */
}
#items .filters.translateNav {
  opacity: 1;
  pointer-events: auto;
}
#items .filters__count {
  margin-bottom: 49px;
  font-size: 20px;
  font-weight: 700;
}
#items .filters__list {
  height: calc(100dvh - 130px);
  overflow-y: auto;
}
#items .filters__item {
  margin-bottom: 21px;
  font-weight: 700;
  font-size: 16px;
}
#items .filters__close {
  width: 26px;
  height: 26px;
  position: absolute;
  top: 25px;
  right: 27px;
}
#items .filters__close svg {
  width: 100%;
  height: 100%;
}
#items .items {
  margin-bottom: 90px;
}
#items .items__items {
  margin-bottom: 60px;
  display: flex;
  flex-wrap: wrap;
  row-gap: 84px;
  justify-content: space-between;
}
#items .items__box {
  width: 46%;
  color: #343B4C;
  text-decoration: none;
}
#items .items__image {
  margin-bottom: 10px;
}
#items .items__title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 15px;
}
#items .items__year {
  font-weight: 600;
  font-size: 10px;
  letter-spacing: 0.3em;
}
#items .items__link {
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  font-size: 20px;
  font-weight: 700;
  color: #343B4C;
  text-decoration: none;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: 13px;
}
#items .items__link svg {
  width: 8px;
  height: 14px;
}

.rotateTop {
  transform: rotate(45deg);
}

.hideMiddle {
  transform: translateX(100%);
  opacity: 0;
  pointer-events: none;
}

.rotateBottom {
  transform: rotate(-45deg);
}

.translateNav {
  opacity: 1;
  pointer-events: all;
}/*# sourceMappingURL=style.css.map */