/* A Modern CSS Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
blockquote,
ul,
li,
dl,
dd {
  margin: 0;
  padding: 0;
}

ul[role=list],
ol[role=list] {
  list-style: none;
}

li {
  list-style-type: none;
}

body {
  min-height: 100vh;
  line-height: 1.1;
}

a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
.header {
  padding: 15px 27px 15px 20px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 2;
}
.header__icon {
  width: 42px;
  height: 40px;
}

.btn {
  height: 20px;
  display: flex;
  align-items: center;
  gap: 21px;
}
.btn__burger {
  height: 100%;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 25px;
  cursor: pointer;
  z-index: 1;
}
.btn__top, .btn__middle, .btn__bottom {
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  transition: 0.4s;
}
.btn__top {
  transform: translateY(-8px);
  background: #343B4C;
}
.btn__middle {
  background: #343B4C;
}
.btn__bottom {
  transform: translateY(8px);
  background: #343B4C;
}

.cart {
  width: 21px;
  height: 21px;
}
.cart__link {
  display: block;
  width: 100%;
  height: 100%;
}
.cart__link svg {
  display: block;
  width: 100%;
  height: 100%;
}

.gnav {
  width: 100vw;
  height: 100dvh;
  padding-top: 105px;
  padding-left: 66px;
  display: flex;
  flex-direction: column;
  gap: 146px;
  position: absolute;
  background: linear-gradient(to right, #F36655, #E74C69);
  top: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;
  transition: 0.5s;
}
.gnav__link {
  font-family: "Montserrat", sans-serif;
  color: #343B4C;
  text-decoration: none;
}
.gnav__insta {
  width: 24px;
  height: 24px;
}
.gnav__x {
  width: 24px;
  height: 24px;
}

.box__text {
  display: flex;
  flex-direction: column;
  gap: 69px;
}

.box__weight {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 30px;
  color: #343B4C;
  text-decoration: none;
}
.box__weight .gnav__nav {
  display: flex;
  flex-direction: column;
  gap: 34px;
}

.box__thin {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: #343B4C;
  text-decoration: none;
}
.box__thin .gnav__nav {
  display: flex;
  flex-direction: column;
  gap: 27px;
}

.box__sns {
  display: flex;
  align-items: center;
  gap: 17px;
}

.rotateTop {
  transform: rotate(45deg);
}

.hideMiddle {
  transform: translateX(100%);
  opacity: 0;
  pointer-events: none;
}

.rotateBottom {
  transform: rotate(-45deg);
}

.translateNav {
  opacity: 1;
  pointer-events: all;
}/*# sourceMappingURL=style.css.map */