//各ファイルは必ず登録済みの変数を最初に読み込みます
//as *で読み込みファイル名を省略することができます
@use "../global" as *;

.footer {
    padding: 2.875rem 10% 1.5rem 5%; // 46px 24px
    background: #EDEEF0;
    box-shadow: 0 -4px 15px rgba(0, 0, 0, 0.05);

    @media screen and (min-width: 1024px) {
        padding: min(7.09vw, 8.5rem) min(38.03vw, 45.6875rem) min(2.4vw, 2.875rem) min(14.9vw, 17.8125rem);
        position: relative;
    }

    &__wrapper {
        margin-bottom: 5.1875rem; // 83px
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;

        @media screen and (min-width: 1024px) {
            margin-bottom: min(3.13vw, 3.75rem);
            flex-direction: row;
        }
    }

    &__logo {
        width: 6.8125rem; // 109px
        height: 6.625rem; // 106px

        @media screen and (min-width: 630px) {
            width: 8.125rem; // 130px
            height: 7.875rem; // 126px
        }

        @media screen and (min-width: 1024px) {
            width: min(7.5vw, 9rem);
            height: min(7.35vw, 8.8125rem);
        }

        svg {
            width: 100%;
            height: 100%;
        }
    }

    &__container {
        display: flex;
        flex-direction: column;
        gap: 1.0625rem; // 17px
        font-size: .875rem;

        @media screen and (min-width: 630px) {
            font-size: 1rem;
        }

        @media screen and (min-width: 1024px) {
            // 👇PCの時、左側のメニューと右側のメニューを横に並べる！
            flex-direction: row; 
            gap: min(8.91vw, 10.6875rem); // 左右のメニューの間隔（好みで調整してください）
            font-size: min(1.05vw, 1.25rem);
        }
    }

    &__sns {
        display: flex;
        align-items: center;
        gap: 1.0625rem; // 17px

        @media screen and (min-width: 1024px) {
            gap: min(.94vw, 1.125rem);
        }
    }

    &__insta {
        width: 1.5rem; // 24px
        height: 1.5rem; // 24px
        display: block;

        @media screen and (min-width: 630px) {
            width: 2rem; // 32px
            height: 2rem; // 32px
        }

        @media screen and (min-width: 1024px) {
            width: min(1.25vw, 1.5rem);
            height: min(1.25vw, 1.5rem);
        }

        svg {
            width: 100%;
            height: 100%;
        }
    }

    &__x {
        width: 1.5rem; // 24px
        height: 1.375rem; // 22px
        display: block;

        @media screen and (min-width: 630px) {
            width: 2rem; // 32px
            height: 1.8125rem; // 29px
        }

        @media screen and (min-width: 1024px) {
            width: min(1.25vw, 1.5rem);
            height: min(1.15vw, 1.375rem);
        }

        svg {
            width: 100%;
            height: 100%;
        }
    }

    &__address {
        margin-bottom: 2.25rem; // 36px
        font-size: .875rem;
        line-height: 1.9;

        @media screen and (min-width: 630px) {
            font-size: 1rem;
        }

        @media screen and (min-width: 1024px) {
            margin-bottom: 0;
            font-size: min(1.05vw, 1.25rem);
            position: absolute;
            top: min(17.2vw, 20.5625rem);
            left: min(14.9vw, 17.8125rem);
        }
    }

    &__copy {
        width: fit-content;
        font-size: .625rem;

        @media screen and (min-width: 630px) {
            font-size: .8rem;
        }

        @media screen and (min-width: 1024px) {
            font-size: min(.625vw, 0.75rem);
        }
    }
}

.fnav {
    display: flex;
    flex-direction: column;
    gap: 1.0625rem; // 17px

    @media screen and (min-width: 630px) {
        gap: 1.375rem; // 22px
    }

    &__nav-main {
        display: flex;
        flex-direction: column;
        gap: 1.0625rem; // 17px

        @media screen and (min-width: 630px) {
            gap: 1.375rem; // 22px
        }
    }

    &__nav-sub {
        display: flex;
        flex-direction: column;
        gap: 1.0625rem; // 17px

        @media screen and (min-width: 630px) {
            gap: 1.375rem; // 22px
        }
    }

    &__link {
        text-decoration: none;
        color: $black;
    }
}