//各ファイルは必ず登録済みの変数を最初に読み込みます
//as *で読み込みファイル名を省略することができます
@use "../global" as *;

.header {
    padding: 0.9375rem 5%; // 15px
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 10;
    
    pointer-events: none; // すき間をクリック貫通
    mix-blend-mode: difference; // 👈 ヘッダー全体に魔法をかける！

    // 👇 メニューが開いた時（no-scrollがついた時）はブレンドを解除する
    body.no-scroll & {
        mix-blend-mode: normal;
    }

    @media screen and (min-width: 630px) {
        padding: 1.5rem 5%; // 24px
    }

    @media screen and (min-width: 1024px) {
        padding-left: min(3.55vw, 4.25rem); // 68px
        padding-right: min(3.86vw, 4.625rem); // 74px
    }

    &__logo {
        width: 2.625rem; // 42px
        height: auto;
        pointer-events: auto; // クリック判定復活

        @media screen and (min-width: 630px) {
            width: 3.75rem; // 60px
        }

        @media screen and (min-width: 1024px) {
            width: 5.3%;
        }

        svg {
            width: 100%;
            height: 100%;
            
            path {
                stroke: #fff; // 👈 ロゴは「線」なのでstrokeを白にする
            }
        }
    }

    &__box {
        pointer-events: auto; // クリック判定復活
        @media screen and (min-width: 1024px) {
            display: flex;
            flex-direction: row-reverse;
            align-items: center;
            gap: min(4.0625rem, 3.36vw); // 65px
        }
    }
}

.btn {
    height: 1.25rem; // 20px
    display: flex;
    align-items: center;
    gap: 1.3125rem; // 21px

    @media screen and (min-width: 630px) {
        gap: 1.875rem; // 30px
    }

    &__burger {
        height: 100%;
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 1.5625rem; // 25px
        cursor: pointer;
        z-index: 1;

        @media screen and (min-width: 630px) {
            width: 2.1875rem; // 35px
        }

        @media screen and (min-width: 1024px) {
            display: none;
        }

    }

    &__top,
    &__middle,
    &__bottom {
        position: absolute;
        display: block;
        width: 100%;
        height: 0.125rem; // 2px
        background: #C2BCAC; // 👈 バーガーボタンの線を白にする

        // 👇 追加：メニューが開いた時（bodyにno-scrollが付いた時）は黒にする！
        body.no-scroll & {
            background-color: $black;
        }
    }

    &__top {
        transform: translateY(-0.5rem); // -8px

        @media screen and (min-width: 630px) {
            transform: translateY(-0.6875rem); // -11px
        }
    }

    // &__middle {
    // }

    &__bottom {
        transform: translateY(0.5rem); // 8px

        @media screen and (min-width: 630px) {
            transform: translateY(0.6875rem); // 11px
        }
    }
}

.cart {
    width: 1.3125rem; // 21px
    height: auto;

    @media screen and (min-width: 630px) {
        width: 1.875rem; // 30px
    }

    &__link {
        display: block;
        width: 100%;
        height: 100%;

        svg {
            display: block;
            width: 100%;
            height: 100%;
            
            path {
                fill: #C2BCAC; // 👈 カートは「塗り」なのでfillを白にする！
            }
        }
    }
}