//各ファイルは必ず登録済みの変数を最初に読み込みます
//as *で読み込みファイル名を省略することができます
@use "../global" as *;

.gnav {
    width: 100vw;
    height: 100dvh;
    padding-top: 105px;
    padding-left: 66px;
    display: flex;
    flex-direction: column;
    gap: 146px;
    position: absolute;
    background: linear-gradient(to right, #F36655, #E74C69);
    top: 0;
    left: 0;
    opacity: 0;
    pointer-events: none;
    
    &__list {
        width: fit-content;
    }

    &__link {
        display: block;
        color: $black;
        text-decoration: none;
    }

    &__insta {
        width: 24px;
        height: 24px;
    }

    &__x {
        width: 24px;
        height: 24px;
    }
}

.box__text {
    display: flex;
    flex-direction: column;
    gap: 69px;
}

.box__weight {
    font-weight: 700;
    font-size: 30px;
    color: $black;
    text-decoration: none;

    .gnav__nav {
        display: flex;
        flex-direction: column;
        gap: 34px;
    }
}

.box__thin {
    font-weight: 400;
    font-size: 20px;
    color: $black;
    text-decoration: none;

    .gnav__nav {
        display: flex;
        flex-direction: column;
        gap: 27px;
    }
}

.box__sns {
    display: flex;
    align-items: center;
    gap: 17px;
}