//各ファイルは必ず登録済みの変数を最初に読み込みます
//as *で読み込みファイル名を省略することができます
@use "../global" as *;

.gnav {
    width: 100%;
    height: 100dvh;
    padding-top: 6.5625rem; // 105px
    padding-left: 4.125rem; // 66px
    display: flex;
    flex-direction: column;
    gap: 9.125rem; // 146px
    position: fixed;
    background: linear-gradient(to right, #F36655, #E74C69);
    top: 0;
    left: 0;
    opacity: 0;
    pointer-events: none;

    @media screen and (min-width: 1024px) {
        width: auto;
        height: auto;
        padding: 0;
        position: static;
        background: none;
        opacity: 1;
        pointer-events: auto;
    }

    &__list {
        width: fit-content;
    }

    &__link {
        display: block;
        color: $black;
        text-decoration: none;
        transition: .1s;

        &:hover {
            opacity: .7;
        }

        @media screen and (min-width: 1024px) {
            padding: 10px 0;
            color: #C2BCAC;
        }
    }

    &__insta {
        width: 1.5rem; // 24px
        height: 1.5rem; // 24px

        @media screen and (min-width: 630px) {
            width: 2rem; // 32px
            height: 2rem; // 32px
        }
    }

    &__x {
        width: 1.5rem; // 24px
        height: 1.375rem; // 22px

        @media screen and (min-width: 630px) {
            width: 2rem; // 32px
            height: 1.8125rem; // 29px
        }
    }
}

.box__text {
    display: flex;
    flex-direction: column;
    gap: 4.3125rem; // 69px
}

.box__weight {
    font-weight: 700;
    font-size: 1.875rem;
    color: $black;
    text-decoration: none;

    @media screen and (min-width: 1024px) {
        font-size: min(.84vw, 1rem); // 16px
    }

    .gnav__nav {
        display: flex;
        flex-direction: column;
        gap: 2.125rem; // 34px

        @media screen and (min-width: 1024px) {
            flex-direction: row;
            gap: min(2.5rem, 2.09vw); // 40px
        }
    }
}

.box__thin {
    font-weight: 400;
    font-size: 1.25rem;
    color: $black;
    text-decoration: none;

    @media screen and (min-width: 1024px) {
        display: none;
    }

    .gnav__nav {
        display: flex;
        flex-direction: column;
        gap: 1.6875rem; // 27px
    }
}

.box__sns {
    display: flex;
    align-items: center;
    gap: 1.0625rem; // 17px

    @media screen and (min-width: 1024px) {
        display: none;
    }
}

.fnav {
    display: flex;
    flex-direction: column;
    gap: 1.0625rem; // 17px

    @media screen and (min-width: 630px) {
        gap: 1.375rem; // 22px
    }

    &__nav-main {
        display: flex;
        flex-direction: column;
        gap: 1.0625rem; // 17px

        @media screen and (min-width: 630px) {
            gap: 1.375rem; // 22px
        }

        @media screen and (min-width: 1024px) {
            gap: min(2.375rem, 1.98vw); // 38px
        }
    }

    &__nav-sub {
        margin-bottom: 3rem; // 48px
        display: flex;
        flex-direction: column;
        gap: 1.0625rem; // 17px

        @media screen and (min-width: 630px) {
            gap: 1.375rem; // 22px
        }

        @media screen and (min-width: 1024px) {
            margin-bottom: min(2.97vw, 3.5625rem); // 57px
            gap: min(2.375rem, 1.98vw); // 38px
        }
    }

    &__link {
        text-decoration: none;
        color: $black;
    }
}