//各ファイルは必ず登録済みの変数を最初に読み込みます
//as *で読み込みファイル名を省略することができます
@use "../global" as *;

#contact {
    .main> :not(.underlink) {
        margin-left: 5%;
        margin-right: 5%;

        @media screen and (min-width: 1024px) {
            margin-left: 15%;
            margin-right: 15%;
        }
    }

    .main {
        padding-bottom: 90px;

        @media screen and (min-width: 1024px) {
            padding-bottom: min(6.41vw, 123px);
        }
    }

    .ttl {
        margin-bottom: 20px;
        font-family: $head;
        font-weight: 400;
        font-size: 2.5rem;

        @media screen and (min-width: 630px) {
            font-size: 3rem;
        }

        @media screen and (min-width: 1024px) {
            margin-bottom: min(2.87vw, 55px);
            font-size: min(5.21vw, 100px);
        }
    }

    .txt {
        margin-bottom: 30px;
        font-size: .875rem;
        line-height: 1.9;

        @media screen and (min-width: 630px) {
            font-size: 1rem;
        }

        @media screen and (min-width: 1024px) {
            margin-bottom: min(7.5vw, 144px);
            font-size: min(1.57vw, 30px);
            line-height: 1.26;
        }
    }

    .form {
        margin-bottom: 60px;
        padding: 50px 5%;
        background: linear-gradient(270deg, #CED1E0 0%, #D0CAE1 100%);

        @media screen and (min-width: 1024px) {
            margin-bottom: min(7.09vw, 136px);
            padding: min(8.7vw, 167px) min(8.39vw, 161px) min(5.32vw, 102px);
        }

        &__box {
            margin-bottom: 26px;
            position: relative;
            display: flex;
            flex-direction: column;

            @media screen and (min-width: 630px) {
                margin-bottom: 36px;
            }

            @media screen and (min-width: 1024px) {
                flex-direction: row;
                justify-content: space-between;
            }

            &:nth-last-child(2) {
                margin-bottom: 50px;

                @media screen and (min-width: 1024px) {
                    margin-bottom: min(5.32vw, 102px);
                }
            }

            &:nth-child(4) {
                .form__input {
                    cursor: pointer;
                }

                option {
                    font-size: .875rem;
                    color: $black;
                }
            }

            &:last-child {
                width: fit-content;
                margin: 0 auto;
            }
        }

        &__box:nth-child(-n+4) {
            &::after {
                content: "";
                width: 100%;
                height: 1px;
                display: block;
                position: absolute;
                bottom: -13px;
                left: 0;
                background: #8993aa;

                @media screen and (min-width: 630px) {
                    bottom: -20px;
                }

                @media screen and (min-width: 1024px) 
                {
                    bottom: -1.8vw;
                }
            }
        }

        &__label {
            margin-bottom: 10px;
            font-weight: 700;
            font-size: .875rem;

            @media screen and (min-width: 630px) {
                font-size: 1rem;
            }

            @media screen and (min-width: 1024px) {
                font-size: min(1.46vw, 28px);
            }

            span {
                color: #D7003A;
            }
        }

        &__input {
            padding: 7px 10px;
            font-size: .875rem;
            color: #6c6c6c;
            border-radius: 5px;
            border: none;

            @media screen and (min-width: 630px) {
                padding: 10px 12px;
                font-size: 1rem;
            }

            @media screen and (min-width: 1024px) {
                padding: min(.73vw, 14px) min(1.31vw, 25px);
                width: min(30.42vw, 584px);
                font-size: min(1.46vw, 28px);
            }
        }


        &__message {
            height: 300px;
            padding: 10px;
            font-size: .875rem;
            color: #6c6c6c;
            border-radius: 5px;
            border: none;

            @media screen and (min-width: 630px) {
                padding: 15px;
                font-size: 1rem;
            }

            @media screen and (min-width: 1024px) {
                padding: min(.73vw, 14px) min(1.31vw, 25px);
                width: min(30.42vw, 584px);
                height: min(10.79vw, 207px);
                font-size: min(1.46vw, 28px);
            }
        }

        &__submit {
            width: fit-content;
            padding: 17px 71px;
            font-weight: 700;
            font-size: 1.5rem;
            color: $black;
            background: $white;
            cursor: pointer;

            @media screen and (min-width: 1024px) {
                padding: min(1.05vw, 20px) min(4.38vw, 84px);
                font-size: min(1.57vw, 30px);
            }
        }
    }
}