//各ファイルは必ず登録済みの変数を最初に読み込みます
//as *で読み込みファイル名を省略することができます
@use "../global" as *;

#details {

    .main> :not(.contact):not(.buy):not(.add):not(.shipping):not(.shipping-detail) {
        padding-left: 5%;
        padding-right: 5%;
    }

    .slider-wrapper {
        padding-left: 5%;
        padding-right: 5%;
    }

    .slider-wrapper {
        width: 247px;
        margin: 0 auto 30px;
        position: relative;
        padding-bottom: 30px;
        /* バーを置くための余白 */

        .swiper-button-prev {
            left: -50px;
            color: $black;
        }

        .swiper-button-next {
            right: -50px;
            color: $black;
        }

        /* ページネーション（バー）のデザイン */
        .swiper-pagination {
            bottom: 0;
        }

        .swiper-pagination-bullet {
            width: 24px;
            height: 4px;
            border-radius: 2px;
            background: #CED1E0;
            opacity: 1;
            margin: 0 4px !important;
            transition: 0.3s;
        }

        .swiper-pagination-bullet-active {
            background: #343B4C;
            width: 32px;
        }
    }

    /* 商品スライダー本体 */
    .product-slider {
        width: 100%;

        .swiper-slide {
            img {
                width: 100%;
                height: auto;
                object-fit: cover;
            }
        }
    }

    .title {
        margin-bottom: 23px;
        font-weight: 700;
        font-size: 1.875rem;
    }

    .buy,
    .add {
        margin-left: 5%;
    }

    .price {
        margin-bottom: 23px;
        font-weight: 700;
        font-size: 1.25rem;
    }

    .buy {
        margin-bottom: 19px;
        width: 241px;
        padding: 18px 0;
        display: block;
        font-weight: 700;
        font-size: 1.5rem;
        color: $black;
        background: linear-gradient(90deg, #E74D69 0%, #F36756 100%);
        text-decoration: none;
        text-align: center;
    }

    .add {
        margin-bottom: 47px;
        width: 241px;
        padding: 18px 0;
        display: block;
        font-weight: 700;
        font-size: 1.5rem;
        color: $black;
        text-decoration: none;
        text-align: center;
        border: 3px solid $black;
    }

    .text {
        margin-bottom: 38px;
        font-size: .875rem;
        line-height: 1.9;
    }

    .shipping {
        margin-bottom: 38px;
        margin-left: 5%;
        margin-right: 5%;
        padding: 29px 5% 22px 5%;
        background: linear-gradient(180deg, #CED1E0 0%, #CFC9E0 100%);

        &__ttl {
            margin-bottom: 21px;
            font-weight: 700;
            font-size: .875rem;
            line-height: 1.9;
        }

        &__txt {
            margin-bottom: 6px;
            font-size: .875rem;
            line-height: 1.9;
        }

        &__payments {
            display: flex;
            align-items: start;
            gap: 10px;

            svg {
                width: 50px;
                height: 32px;
                border: 1px solid $black;
            }
        }

        &__payments-txt {
            font-size: .875rem;
            line-height: 1.9;
        }

        &-detail {
            margin: 0 5% 97px 5%;
            padding: 29px 5% 23px 5%;
            font-size: .875rem;
            line-height: 1.9;
            background: $white;
            border: 1px solid $black;
        }

        &-detail__shipping {
            margin-bottom: 27px;
        }
    }

    .similar {
        margin-bottom: 90px;

        &__ttl {
            margin-bottom: 50px;
            font-family: $head;
            font-weight: 400;
            font-size: 2.5rem;
            text-align: center;
        }

        &__items {
            display: flex;
            flex-wrap: wrap;
            row-gap: 84px;
            justify-content: space-between;
        }

        &__box {
            width: 46%;
            color: $black;
            text-decoration: none;
        }

        &__image {
            margin-bottom: 10px;
        }

        &__title {
            margin-bottom: 10px;
            font-weight: 700;
            font-size: .625rem;
        }

        &__year {
            font-weight: 600;
            font-size: .625rem;
            letter-spacing: .3em;
        }
    }

    .picks {
        margin-bottom: 90px;

        &__ttl {
            margin-bottom: 50px;
            font-family: $head;
            font-weight: 400;
            font-size: 2.5rem;
            text-align: center;
        }

        &__items {
            display: flex;
            flex-wrap: wrap;
            row-gap: 84px;
            justify-content: space-between;
        }

        &__box {
            width: 46%;
            color: $black;
            text-decoration: none;
        }

        &__image {
            margin-bottom: 10px;
        }

        &__title {
            margin-bottom: 10px;
            font-weight: 700;
            font-size: .625rem;
        }

        &__year {
            font-weight: 600;
            font-size: .625rem;
            letter-spacing: .3em;
        }
    }

    .viewed {
        margin-bottom: 60px;

        &__ttl {
            margin-bottom: 50px;
            font-family: $head;
            font-weight: 400;
            font-size: 2.5rem;
            text-align: center;
        }

        &__items {
            display: flex;
            flex-wrap: wrap;
            row-gap: 84px;
            justify-content: space-between;
        }

        &__box {
            width: 46%;
            color: $black;
            text-decoration: none;
        }

        &__image {
            margin-bottom: 10px;
        }

        &__title {
            margin-bottom: 10px;
            font-weight: 700;
            font-size: .625rem;
        }

        &__year {
            font-weight: 600;
            font-size: .625rem;
            letter-spacing: .3em;
        }
    }

    .all__link {
        width: fit-content;
        margin: 0 auto 90px;
        font-size: 1.25rem;
        font-weight: 700;
        color: $black;
        text-decoration: none;
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        gap: 13px;

        svg {
            width: 8px;
            height: 14px;
        }
    }
}