//各ファイルは必ず登録済みの変数を最初に読み込みます
//as *で読み込みファイル名を省略することができます
@use "../global" as *;

#faq {
    .main> :not(.contact) {
        padding-left: 5%;
        padding-right: 5%;

        @media screen and (min-width: 1024px) {
            padding-left: 15%;
            padding-right: 15%;
        }
    }

    .ttl {
        margin-bottom: 46px;
        font-family: $head;
        font-weight: 400;
        font-size: 1.875rem;
        text-align: center;

        @media screen and (min-width: 630px) {
            font-size: 2rem;
        }

        @media screen and (min-width: 1024px) {
            margin-bottom: min(7.71vw, 148px);
            font-size: min(2.61vw, 50px);
        }
    }

    .item {
        margin-bottom: 67px;

        @media screen and (min-width: 1024px) {
            margin-bottom: min(6.25vw, 120px);
        }

        &__ttl {
            margin-bottom: 38px;
            font-weight: 700;
            font-size: 1.125rem;
            color: $red;

            @media screen and (min-width: 630px) {
                font-size: 1.3rem;
            }

            @media screen and (min-width: 1024px) {
                margin-bottom: min(3.13vw, 60px);
                font-size: min(1.57vw, 30px);
            }
        }

        &__box {
            margin-bottom: 27px;
            font-size: .875rem;
            line-height: 1.9;

            @media screen and (min-width: 630px) {
                font-size: 1rem;
            }

            @media screen and (min-width: 1024px) {
                margin-bottom: min(1.98vw, 38px);
                font-size: min(1.05vw, 20px);
            }

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    .packaging {
        margin-bottom: 67px;

        @media screen and (min-width: 1024px) {
            margin-bottom: min(6.25vw, 120px);
        }

        &__ttl {
            margin-bottom: 38px;
            font-weight: 700;
            font-size: 1.125rem;
            color: $red;

            @media screen and (min-width: 630px) {
                font-size: 1.3rem;
            }

            @media screen and (min-width: 1024px) {
                margin-bottom: min(3.13vw, 60px);
                font-size: min(1.57vw, 30px);
            }
        }

        &__box {
            margin-bottom: 27px;
            font-size: .875rem;
            line-height: 1.9;

            @media screen and (min-width: 630px) {
                font-size: 1rem;
            }

            @media screen and (min-width: 1024px) {
                margin-bottom: min(1.98vw, 38px);
                font-size: min(1.05vw, 20px);
            }

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    .orders {
        margin-bottom: 60px;

        @media screen and (min-width: 1024px) {
                margin-bottom: min(7.09vw, 136px);
            }

        &__ttl {
            margin-bottom: 38px;
            font-weight: 700;
            font-size: 1.125rem;
            color: $red;

            @media screen and (min-width: 630px) {
                font-size: 1.3rem;
            }

            @media screen and (min-width: 1024px) {
                margin-bottom: min(3.13vw, 60px);
                font-size: min(1.57vw, 30px);
            }
        }

        &__box {
            margin-bottom: 27px;
            font-size: .875rem;
            line-height: 1.9;

            @media screen and (min-width: 630px) {
                font-size: 1rem;
            }

            @media screen and (min-width: 1024px) {
                margin-bottom: min(1.98vw, 38px);
                font-size: min(1.05vw, 20px);
            }

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    .underlink {
        margin-bottom: 90px;

        @media screen and (min-width: 1024px) {
            margin-bottom: min(6.41vw, 123px);
        }

        svg {
            // transformに対して0.1秒かけると明示すると、より処理が軽く綺麗になります
            transition: transform 0.1s ease;
        }

        // 👇 ② ホバー時は「どう変化するか（ゴール地点）」だけを書く
        &:hover {
            svg {
                @media screen and (min-width: 1024px) {
                    transform: translateX(-10px); // 左に10px動く
                }
            }
        }
    }
}