//各ファイルは必ず登録済みの変数を最初に読み込みます
//as *で読み込みファイル名を省略することができます
@use "../global" as *;

#top {

    .mv {
        height: 100dvh;
        position: relative;

        svg {
            width: 303px;
            height: 295px;
            position: absolute;
            top: 25%;
            left: 50%;
            transform: translateX(-50%);
        }
    }

    .latest {
        position: relative;

        &__ttl,
        &__container,
        &__all {
            padding-left: 5%;
            padding-right: 5%;
            position: relative;
            z-index: 2;
        }

        &__bg {
            position: absolute;
            top: -27px;

            svg {
                width: 100vw;
                height: 680px;
            }
        }

        &__ttl {
            margin-bottom: 50px;
            padding-top: 32px;
            font-family: $head;
            font-weight: 400;
            font-size: 40px;
            color: $white;
        }

        &__items {
            display: flex;
            flex-wrap: wrap;
            row-gap: 84px;
            justify-content: space-between;
        }

        &__box {
            width: 46%;
        }
    }
}