//各ファイルは必ず登録済みの変数を最初に読み込みます
//as *で読み込みファイル名を省略することができます
@use "../global" as *;

#policy {
    .main> :not(.contact, .underlink) {
        padding-left: 5%;
        padding-right: 5%;

        @media screen and (min-width: 1024px) {
            padding-left: 15%;
            padding-right: 15%;
        }
    }

    .ttl {
        margin-bottom: 2.875rem;
        font-family: $head;
        font-weight: 400;
        font-size: 1.875rem;
        text-align: center;

        @media screen and (min-width: 630px) {
            font-size: 2rem;
        }

        @media screen and (min-width: 1024px) {
            margin-bottom: min(7.71vw, 9.25rem);
            font-size: min(2.61vw, 3.125rem);
        }
    }

    .item,
    .packaging {
        margin-bottom: 4.1875rem;

        @media screen and (min-width: 1024px) {
            margin-bottom: min(6.25vw, 7.5rem);
        }
    }

    .orders {
        margin-bottom: 3.75rem;

        @media screen and (min-width: 1024px) {
            margin-bottom: min(7.09vw, 8.5rem);
        }
    }

    .item__ttl,
    .packaging__ttl,
    .orders__ttl {
        margin-bottom: 2.375rem;
        font-weight: 700;
        font-size: 1.125rem;
        color: $red;

        @media screen and (min-width: 630px) {
            font-size: 1.3rem;
        }

        @media screen and (min-width: 1024px) {
            margin-bottom: min(3.13vw, 3.75rem);
            font-size: min(1.57vw, 1.875rem);
        }
    }

    .item__box,
    .packaging__box,
    .orders__box {
        margin-bottom: 1.6875rem;
        font-size: .875rem;
        line-height: 1.9;

        @media screen and (min-width: 630px) {
            font-size: 1rem;
        }

        @media screen and (min-width: 1024px) {
            margin-bottom: min(1.98vw, 2.375rem);
            font-size: min(1.05vw, 1.25rem);
        }

        &:last-child {
            margin-bottom: 0;
        }
    }

    .underlink {
        margin-bottom: 5.625rem;

        @media screen and (min-width: 1024px) {
            margin-bottom: min(6.41vw, 7.6875rem);
        }

        svg {
            transition: transform .1s ease;
        }

        @media screen and (min-width: 1024px) {
            &:hover svg {
                transform: translateX(-.625rem);
            }
        }
    }
}