//各ファイルは必ず登録済みの変数を最初に読み込みます
//as *で読み込みファイル名を省略することができます
@use "../global" as *;

#terms {
    .main> :not(.contact) {
        padding-left: 5%;
        padding-right: 5%;
    }

    .ttl {
        margin-bottom: 46px;
        font-family: $head;
        font-weight: 400;
        font-size: 1.875rem;
        text-align: center;
    }

    .item {
        margin-bottom: 67px;

        &__ttl {
            margin-bottom: 38px;
            font-weight: 700;
            font-size: 1.125rem;
            color: $red;
        }

        &__box {
            margin-bottom: 27px;
            font-size: .875rem;
            line-height: 1.9;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    .packaging {
        margin-bottom: 67px;

        &__ttl {
            margin-bottom: 38px;
            font-weight: 700;
            font-size: 1.125rem;
            color: $red;
        }

        &__box {
            margin-bottom: 27px;
            font-size: .875rem;
            line-height: 1.9;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    .orders {
        margin-bottom: 60px;

        &__ttl {
            margin-bottom: 38px;
            font-weight: 700;
            font-size: 1.125rem;
            color: $red;
        }

        &__box {
            margin-bottom: 27px;
            font-size: .875rem;
            line-height: 1.9;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    .underlink {
        margin-bottom: 90px;
    }
}